# Created by .ignore support plugin (hsz.mobi)

# IntelliJ project files
.idea
*.iml

# IntelliJ builds
/out/

# Only .zip needed
/src/
srcREADME.txt

# Other
/ChatClient/src/config.txt
/ChatClient/src/META-INF/
/ChatServer/src/META-INF/
android-update.sh
cnupdate.sh
checkout*.sh
charsTo0xff.txt
CodecCheck.class
CryptoCheck.class
TestClient.jar
WebsocketTest/
