html, body {
  height: 100%;
}

body {
  background-color: #637aa1;
}

#wrap {
  background-color: white;
  height: 100vh;
  padding-bottom: 0.75rem;
}

.row, [role="main"] {
  height: 100%;
}

/*
 * Content
 */

#message-container {
  background-color: white;
  overflow-y: auto !important;
  flex: 1 0;
  justify-content: end;
}

#message-panel {
  height: auto;
  min-height: 100%;
}

.single-message-container {
  width: 100%;
}

.single-message-container::after {
  display: block;
  content: " ";
  clear: both;
  height: 0;
}

.bg-ccc {
  background-color: #ebeef1;
}

.message-server {
  border-radius: 0;
  margin-right: .5rem !important;
  margin-bottom: .5rem;
  padding-left: .75rem;
  padding-right: .75rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.multiline-text {
  white-space: pre-wrap;
  margin-bottom: 0 !important;
  padding-bottom: .25rem;
  padding-top: .25rem;
}

[role="main"] {
  padding-top: 30px; /* Space for fixed navbar */
}

#chat-compose {
  resize: none;
  height: calc(2.25rem + 2px);
  min-height: calc(2.25rem + 2px) !important;
}

#chat-send {
  max-height: 48px;
  font-size: 1.125rem;
}

.dropdown-item-sm {
  padding: 0.25rem 1rem;
  font-size: 0.875rem !important;
}

/*
 * Navbar
 */

.navbar {
  padding: 0.5rem 0.75rem;
}

.nav-link {
  font-size: 1rem;
}

